@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
    filter: blur(6px) brightness(0.67);
    -webkit-filter: blur(6px) brightness(0.27);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: */
    /* url("https://media.licdn.com/dms/image/C5622AQGYp7Uugj1kZQ/feedshare-shrink_800/0/1669709758423?e=2147483647&v=beta&t=_cjA3CaJsGoBItS_W0iNyFbAJ0Qn55jxeNpWD1qva3A"); */
}


