/* ::-webkit-scrollbar
{
  width: 0;
  height: 0px;
} */

.ballot-bg {
    padding: 8em;
    background-color: white;
}




.row{
    margin-top: 40px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    position: relative;
    width: 300px;
    border-radius: 10px;
    /* display: flex; */
    align-items: center;
    /* justify-content: center; */
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    text-align: justify;
}

.card-radio {
    display: none;
}

.card-label {
    flex: 1;
    height: 40vh;
    font-weight: bold;
    background-color: #3498db;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
}

.card-radio:checked + .card-label {
    background-color: #012169;
}

.card-label:hover {
    background-color: #F0B323;
}

.card-radio:checked + .card-label::before {
    content: "\1F4CC";
    font-size: 40px;
    color: #fff;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

